<section class="new-section">
  <h1>New:</h1>
  <div class="letters-container">
    <% @letters.each do |item| %>
      <h3><%= item %></h3>
    <% end %>
  </div>

  <%= form_with url: score_path, method: :get do |form| %>
    <%= form.label :users_word, "type your answer here:" %>
    <%= form.text_field :users_word %>
    <%= form.submit "Submit your answer to the QUIZ MASTER! HAHAHAHA" %>
    <%= form.hidden_field letters: @letters%>
  <% end %>

</section>
